:root{
    --background-color: rgb(23, 23, 82);
    --content-box-color: rgb(35, 67, 153);
    --content-box-color-2: rgb(54, 70, 141);
    --global-font-color: rgb(106, 198, 221); 
}

html {
    margin: 0;
}

body {
    margin: 1em;
    max-width: 75em;
    font-family: sans-serif;
    background-color: var(--background-color);
}

.layout {
    display:flex;
    min-height: 100vh;
}

.user {
    width: 200px; 
    height: 100%;
    background-color: var(--content-box-color);
    font-size: 12px;
    text-align: center;
    padding: 0.5em;
    color: var(--global-font-color);
}

.user_layout {
    margin-top: 5px;
    font-size: 16px;
}

.chat {
    margin: 0.2em;
    background-color: var(--content-box-color-2);
    color: var(--global-font-color);
}

.chat_msg {
    text-align: left;
    margin-left: 5px;
}

.main{
    flex: 1;
    width: 600px;
    padding: 0 0.5em 0.5em 0.5em;
}

.header {
    background-color: var(--content-box-color);
    color: white ;
    padding: 1em;
}

.header p{
    font-size: 10px;
    padding: 0;
}

.nav {
    background-color: lightgrey;
    font-size: 12px;
    padding: 0.5em;
    margin: 0.5em 0;
}

.content {
    background-color: var(--content-box-color);
    padding: 1em;
    margin: 0.5em 0;
} 

.image_grid {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.index_image {
    flex: 1;
    width: 32%;
}

.show_image{
    text-align: center;
    color: var(--global-font-color);
}

.image_title {
    margin: 0.1em 0 1em 0;
    font-size: 12px;
    text-align: center;
    color: var(--global-font-color);
}

.box{
    background-color: var(--content-box-color-2);
    color: var(--global-font-color);
}

.comment_msg {
    margin-left: 5px;
}

.info {
    border: 2px solid black;
    margin: 1em;
    padding: 0.5em;
    background-color: blue;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size:25px;
    margin: 0;
    color: var(--global-font-color);
}

h2 {
    font-size:16px;
    margin: 0;
    color: var(--global-font-color);
}

nav {
    text-align: center;
}
  
nav ul {
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}
  
nav li:not(:last-of-type) {
    border-right: 1px solid black;
    margin-left: -0.25em;
}

.all_users li {
    display: block;
    margin-bottom: 5px;
}

