{% extends "layout.html" %}

{% block title %}Poista käyttäjä{% endblock %}

{% block content %}
    <div class="box">
        <h2>Haluatko varmasti poistaa käyttäjäsi?</h2>
        <form action="/delete_user" method="post">
            <input type="text" name="password" attribute="Syötä salasanasi">
            <input type="submit" name="remove" value="Poista käyttäjä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
            <input type="submit" name="back" value="Palaa takaisin">
        </form>
    </div>
{% endblock %}