{% extends "layout.html" %}

{% block title %}Etsi kuva{% endblock %}

{% block content %}
    <h1>Etsi kuva</h1>
    <form action="/find_image" method="get">
        <p>
            Hakusana: <input type="text" name="query" value="{{ query }}">
        </p>
        <p>Etsi genren mukaan:</p>
            <input type="checkbox" name="genre" value="Luonto" /> Luonto
            <input type="checkbox" name="genre" value="Kaupunki" /> Kaupunki
            <input type="checkbox" name="genre" value="Ihmiset" /> Ihmiset
            <input type="checkbox" name="genre" value="Taide" /> Taide
            <input type="checkbox" name="genre" value="Tapahtumat" /> Tapahtumat
        </p>    
        <input type="submit" value="Lähetä">
    </form>

    {% if query or genre_query %}
    <h2>Tulokset</h2>
    <ul>
        {% for result in results %}
        <li><a href="/image/{{ result.id }}">{{ result.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}