{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
    <div class="box">
        <h2>Satunnaisia kuvia:</h2>
        <div class="image_grid">
            {% for image in images %}
            <div class="index_img">
                <a href="/image/{{ image.id }}">
                    <img src="/picture/{{ image.id }}" alt="Kuva: {{ image.title }}" title="Siirry kuvaan" width="200" height="200"/>
                </a>
                <div class="image_title">{{ image.title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}