<!DOCTYPE html>
<html>

<head>
  <title>Galleria</title>
</head>

<body>
    {% if session.username %}
    <p>
        Olet kirjautunut nimellä {{ session.username }}
    </p>

    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>

    <p>
        <a href="/register">Luo tunnus</a>
    </p>
    
    {% else %}
    <p>
        Tervetuloa Galleriaan!

        Et ole vielä kirjautunut sisään.
    </p>

    <p>
        <a href="/login">Kirjaudu sisään</a>
    </p>
    {% endif %}

</body>

</html>