<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <h1>Galleria</h1>
    {% if session.username %}
    Olet kirjautunut sisään käyttäjänä {{ session.username }}!
    {% endif %}
    {% if not session.user_id %}
    Et ole vielä kirjautunut sisään.
    {% endif %}
    <p>
        <a href="/">Etusivulle</a>
        <a href="/find_image">Etsi kuva</a>
        <a href="/all_users">Selaa käyttäjiä</a>
        {% if session.user_id %}
        <a href="/add_image">Lisää kuva</a>
        <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
        {% if not session.user_id %}
        <a href="/login">Kirjaudu sisään</a>
        <a href="/register">Luo tunnus</a>
        {% endif %}
    </p>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    </body>

</html>