<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  <form action="/create" method="post" enctype="multipart/form-data">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" minlength="5" required/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" minlength="5" required/>
    </p>
    <p>
      Profiilikuva: <input type="file" name="profile_pic" accept=".jpg" />
    </p>
    <p>
      Kuvaus:
      <input type="text" name="kuvaus" maxlength="200"/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>