{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="show_user">
    <div class="show_user_image">
      <img src="/profile_pic/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva" width="300px" height="300px"/>
    </div>
    <br/>
    <div class="user_info_box">
      <h2>Tietoja käyttäjästä:</h2>
      <p>Käyttäjä: {{ user.username }}</p>
      <p>Kuvaus: {{ user.user_description | show_lines }}</p>
      {% if users_images | count > 1 %}
      <p>Käyttäjällä on yhteensä {{ users_images | count }} kuvaa.</p>
      {% elif users_images | count == 1 %}
      <p>Käyttäjällä on yhteensä {{ users_images | count }} kuva.</p>
      {% else %}
      <p>Käyttäjä ei ole vielä lisännyt kuvia.</p>
      {% endif %}
      {% if session.user_id == user.id %}
      <p> 
        <a href="/edit_user/{{ user.id }}">Muokkaa käyttäjää</a>
        <a href="/delete_user">Poista käyttäjä</a>
      </p>
      {% endif %}
    </div>
  </div>
  <br/>

  <div class="box">
    <h2>Käyttäjän kuvia:</h2>
    <div class="image_grid">
        {% for image in users_images %}
        <div class="index_img">
            <a href="/image/{{ image.id }}">
                <img src="/picture/{{ image.id }}" alt="Kuva: {{ image.title }}" width="200" height="200"/>
            </a>
            <div class="image_title">{{ image.title }}</div>
        </div>
        {% endfor %}
    </div>
  </div>
  <br/>
  <div class="box">
    <h2>Käyttäjän viimeisimmät kommentit:</h2><br/>
    {% if comments %}
        {% for comment in comments %}
          Kuva: <a href="/image/{{ comment.image_id }}">{{ comment.image_title }}</a>
          <p class="comment_msg">{{ comment.username}} {{ comment.date_added }} {{ comment.comment }}</p>>
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}