{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h2>{{ user.username }}</h2>
    <img src="/profile_pic/{{ user.id }}" alt="Käyttäjän profiilikuva" onerror="this.outerHTML='<p>Käyttäjä ei ole asettanut profiilikuvaa.</p>';" />
    {% if session.user_id == user.id %}
    <p> 
        <form action="/edit_user/{{ user.id }}" method="get">
          <input type="submit" value="Muokkaa käyttäjää">
        </form>
        <form action="/delete_user" method="get">
          <input type="submit" value="Poista käyttäjä">
        </form>
    </p>
    {% endif %}
    <h2>{{ user.user_description }}</h2>
    {% if images | count > 1 %}
    <p>Käyttäjällä on yhteensä {{ images | count }} kuvaa.</p>
    {% elif images | count == 1 %}
    <p>Käyttäjällä on yhteensä {{ images | count }} kuva.</p>
    {% else %}
    <p>Käyttäjä ei ole vielä lisännyt kuvia.</p>
    {% endif %}
    <h3>Käyttäjän kuvia</h3>
  <ul>
    {% for image in images %}
    <li>
      <a href="/image/{{ image.id }}">
        <img src="/picture/{{ image.id }}" width="150" height="150"/> 
      </a>
    </li>
    {% endfor %}
  </ul>

  <h3>Käyttäjän viimeisimmät kommentit:</h3>
  {% if comments %}
    <ul>
      {% for comment in comments %}
        <a href="/image/{{ comment.image_id }}">{{ comment.image_title }}</a>
        <p>{{ comment.username}} {{ comment.date_added }} {{ comment.comment }}</p>>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}