<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä: {{ user.username }}</title>
</head>

<body>
    <h1>{{ user.username }}</h1>

    <h2>{{ user.kuvaus }}</h2>

    {% if images | count > 1 %}
    <p>Käyttäjällä on yhteensä {{ images | count }} kuvaa.</p>
    {% elif images | count == 1 %}
    <p>Käyttäjällä on yhteensä {{ images | count }} kuva.</p>
    {% else %}
    <p>Käyttäjä ei ole vielä lisännyt kuvia.</p>
    {% endif %}
    <h3>Käyttäjän kuvia</h3>
    <ul>
    {% for image in images %}
    <li><a href="/image/{{ image.id }}">{{ image.title }}</a></li>
    {% endfor %}
    </ul>

    <h2>Käyttäjän viimeisimmät kommentit:</h2>
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <a href="/image/{{ comment.image_id }}">{{ comment.image_title }}</a>
        <p>{{ comment.username}} {{ comment.date_added }} {{ comment.comment }}</p>>
        {% endfor %}
    </ul>
    {% endif %}

</body>

</html>